# --- Discord aplikace (Developer Portal -> tvoje aplikace) ---
DISCORD_APPLICATION_ID=1523076696880713831
DISCORD_PUBLIC_KEY=41bf769e2f2d4c97c17f4035e9d3c6d28b8cb318bae2d336b1aaf9a09f775a63
DISCORD_BOT_TOKEN=MTUyMzA3NjY5Njg4MDcxMzgzMQ.GBCDh3.bG5TMRLbcR3vqu-IYZ_IYcoiiK0WRKnYmvgpz4

# --- Server (guild), pro který se registrují příkazy ---
GUILD_ID=1514845924550119494

# --- Role oprávněné k jednotlivým sekcím (ID role, ne jméno) ---
ALLOWLIST_ROLE_ID=1515844102682578964
BLACKLIST_ROLE_ID=1523077716482457661

# --- Volitelné: webhook URL, kam se budou logovat všechny akce ---
LOG_WEBHOOK_URL=https://discord.com/api/webhooks/1523077890030436384/_erlhxIfM8XJRlSmu59EeXVaAlUVj4sO3Z3lARO4ga-RUSr6CEK8SRC7VPbpP2unG594

# --- Vercel KV - tyto se doplní automaticky po propojení KV storu s projektem ---
KV_REST_API_URL=
KV_REST_API_TOKEN=
